*,html,body{
    margin:0;
    padding:0;
}

.s3-form{
    border:solid 1px #f1f1f1;
    margin:1em auto;
    width:500px;
}
.s3-box{
    display:block;
    padding:0.5em 1em;
}
.s3-box label{
    display:block;
}
.s3-input{
    padding:1em;
    display:block;
    width:93%;
    border:solid 1px #f1f1f1;
}
.s3-input:hover,.s3-input:focus, .s3-input:active{
    border:solid 1px #ccc;
}

.s3-btn{
    display:block;
    width:99%;
    background:#f1f1f1;
    border:none;
    padding:0.5em;
    cursor:pointer;
}
.s3-btn:hover{
    background:#ccc;
}
